SERVER_PORT=
NEO_URI=
NEO_USER=
NEO_PASS=
SQL_HOST=
SQL_PORT=
SQL_USER=
SQL_PASS=
SQL_DB_NAME=

//    "age",
//    "anotherPlace",
//    "bestApp",
//    "channel",
//    "covidTestPositive",
//    "groupSex",
//    "hivPrep",
//    "hivStatus",
//    "hivSuppressed",
//    "mapGroupSex",
//    "mapHome",
//    "monkeypoxCare",
//    "monkeypoxTest",
//    "monkeypoxVaccine",
//    "raceAPI",
//    "raceBlack",
//    "raceLatinx",
//    "raceOther",
//    "raceWhite",
//    "referrerEnglish",
//    "referrerID",
//    "sex",
//    "sexOrientation",
//    "symptomBackAche",
//    "symptomBodyRash",
//    "symptomChills",
//    "symptomExhaustion",
//    "symptomFacialRash",
//    "symptomFever",
//    "symptomHeadache",
//    "symptomMouth",
//    "symptomMuscleAche",
//    "symptomOther",
//    "symptomRectalDiscomfort",
//    "symptomSoreThroat",
//    "symptomSoresAnus",
//    "symptomSwollenGlands",
//    "travelTime",
//    "vaccinationDate",
//    "places"